@font-face {
    font-family: "Inter-Bold";
    src: url(../assets/fonts/Inter-bold.ttf);
}
@font-face {
    font-family: "Inter-Medium";
    src: url(../assets/fonts/Inter-Medium.ttf);
}
@font-face {
    font-family: "Inter-Regular";
    src: url(../assets/fonts/Inter-Regular.ttf);
}
@font-face {
    font-family: "Inter-Light";
    src: url(../assets/fonts/Inter-Light.ttf);
}
@font-face {
    font-family: "Inter-Thin";
    src: url(../assets/fonts/Inter-Thin.ttf);
}
:root {
    line-height: 1.5rem;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter-Medium";
}
.container {
    padding: 1rem 3rem 0;
    margin: 0 auto;
}

/* page title */
.page-title {
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pageTitle {
    color: #3f4254;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    font-size: 15px;
    font-family: "Inter-Regular";
}
.product-container {
    display: flex;
    align-items: start;
    gap: 3rem;
}
.productTitle {
    font-family: "Inter-Regular";
    color: #002452;
    letter-spacing: 1px;
    margin-bottom: 3rem;
    line-height: 1.1;
    max-width: 65%;
}

/* return button -available just in last page! */
.return-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 10px;
    font-family: "Inter-Medium";
    border: 1px solid #002452;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    width: 15rem;
    padding: 0.2rem;
    cursor: pointer;
    transition: all 400ms ease-in-out;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
}
.return-btn:hover {
    background-color: #002452;
}
.return-btn:hover .btn-link {
    color: #fff;
}
.return-btn:hover .btn-icon {
    display: none;
}
.btn-icon__hover {
    display: none;
}
.return-btn:hover .btn-icon__hover {
    display: block;
}
.btn-link {
    display: inline-block;
    text-decoration: none;
    color: #002452;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* page content */
.wrappers {
    display: flex;
    align-items: stretch;
}
.left-wrapper {
    width: 31.5%;
    height: 75dvh;
    overflow: scroll;

    /* scroll shadow => */
    background:
        /* Shadow Cover TOP */ linear-gradient(
            white 30%,
            rgba(255, 255, 255, 0)
        )
        center top,
        /* Shadow Cover BOTTOM */ linear-gradient(rgba(255, 255, 255, 0), white 70%)
        center bottom,
        /* Shadow TOP */
        radial-gradient(
            farthest-side at 50% 0,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0)
        )
        center top,
        /* Shadow BOTTOM */
        radial-gradient(
            farthest-side at 50% 100%,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0)
        )
        center bottom;
        background-repeat: no-repeat;
        background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
        background-attachment: local, local, scroll, scroll;
}
.explain {
    margin-bottom: 1rem;
}
.explain-title {
    font-family: "Inter-Regular";
    font-size: 15px;
    color: #002452;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 0 0 0.8rem;
}
.explain-text {
    color: #53595f;
    font-family: "Inter-Regular";
    font-size: 15px;
    margin: 0;
}
.title {
    color: #002452;
    letter-spacing: 1px;
    padding-bottom: 1rem;
}
.explain {
    color: #53595f;
    font-size: 15px;
    padding: 1rem 2rem 1rem 0;
}
.result-images {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.result-image1 {
    grid-row-start: 1;
    grid-row-end: 3;
}
.result-image2 {
    grid-row-start: 1;
    grid-row-end: 2;
}
.result-image3 {
    grid-row-start: 2;
    grid-row-end: 3;
}
.result-image-image {
    width: 100%;
    height: 100%;
}

/* footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 95%;
    padding-left: 3rem;
}
.signature {
    padding: 0.7rem 0;
    border-top: 1px solid #eeeeee;
    width: 75%;
}
.signature > p {
    color: #a1a5b7;
    margin: 0;
    font-size: 12px;
}
.control-btns {
    position: fixed;
    bottom: 0;
    right: 3rem;
    width: max-content;
    display: flex;
    flex-direction: row-reverse;
    gap: 0.2rem;
    transition: opacity 400ms ease-in-out;
    -webkit-transition: opacity 400ms ease-in-out;
    -moz-transition: opacity 400ms ease-in-out;
    -ms-transition: opacity 400ms ease-in-out;
    -o-transition: opacity 400ms ease-in-out;
    padding: 1rem 1.5rem 0;
    border: 2px solid #eeeeee;
    border-bottom: none;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.5px);
    border: 1px solid rgba(255, 255, 255, 0.26);
}
    #nextBtn__hovered,
    #homeBtn__hovered,
    #profileBtn__hovered,
    #preBtn__hovered {
    display: none;
    opacity: 0;
    cursor: pointer;
}
    .nextBtn:hover > #next-btn,
    .homeBtn:hover > #home-btn,
    .profileBtn:hover > #profile-btn,
    .preBtn:hover > #pre-btn {
    display: none;
    cursor: pointer;
}
    .nextBtn:hover > #nextBtn__hovered,
    .homeBtn:hover > #homeBtn__hovered,
    .profileBtn:hover > #profileBtn__hovered,
    .preBtn:hover > #preBtn__hovered {
    display: block;
    opacity: 1;
}

/* responsive */
@media only screen and (max-width: 1200px) {
    .container {
      max-width: 960px;
      overflow: visible;
      margin: 0 auto;
    }
    .wrappers {
      flex-direction: column;
    }
    .explain {
      color: #fff;
    }
    .left-wrapper {
      width: 100%;
    }
    .signature {
      width: 80%;
    }
    .left-wrapper {
      height: 100%;
      overflow: visible;
    }
}
  
@media only screen and (max-width: 992px) {
    .container {
      max-width: 720px;
    }
}
  
@media only screen and (max-width: 768px) {
    .container {
      max-width: 540px;
    }
    .signature {
      display: none;
    }
    .result-images {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
    .result-image1 {
      grid-row-start: 1;
      grid-row-end: 3;
    }
    .result-image2 {
      grid-row-start: 3;
      grid-row-end: 4;
    }
    .result-image3 {
      grid-row-start: 4;
      grid-row-end: 5;
    }
}
  
@media only screen and (max-width: 576px) {
    .container {
        max-width: 390px;
    }
    .return-btn {
        width: 3rem;
        height: 2rem;
    }
    .btn-icon,
    .btn-icon__hover {
        width: 1rem;
    }
    .btn-link {
        display: none;
    }
}
  
@media only screen and (max-width: 380px) {
    .container {
    max-width: 100%;
    }
}
  