@font-face {
    font-family: "Inter-Bold";
    src: url(../assets/fonts/Inter-bold.ttf);
}
@font-face {
    font-family: "Inter-Medium";
    src: url(../assets/fonts/Inter-Medium.ttf);
}
@font-face {
    font-family: "Inter-Regular";
    src: url(../assets/fonts/Inter-Regular.ttf);
}
@font-face {
    font-family: "Inter-Light";
    src: url(../assets/fonts/Inter-Light.ttf);
}
@font-face {
    font-family: "Inter-Thin";
    src: url(../assets/fonts/Inter-Thin.ttf);
}
:root{
    line-height: 1.5rem;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter-Medium";
}
.container{
    padding: 1rem 3rem 0;
}


.page-title{
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 3rem;
}
.pageTitle{
    color: #3F4254;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    font-size: 15px;
    font-family: "Inter-Regular";
}
.product-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 3rem;
}
.productTitle{
    font-family: "Inter-Regular";
    color: #002452;
    letter-spacing: 1px;
    margin-bottom: 3rem;
    line-height: 1.1;
}
.product-info{
    color: #52575E;
    font-size: 15px;
}
.search-btn{
    background-color: #002452;
    width: 10rem;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    cursor: pointer;
    margin: 5rem auto 0;
}
.btn-link{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    display: inline-block;
    padding-left: 0.8rem;
}


/* footer */
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 95%;
    padding-left: 3rem;
}
.signature{
    padding: 0.7rem 0;
    border-top: 1px solid #EEEEEE;
    width: 85%;
}
.signature > p{
    color: #A1A5B7;
    margin: 0;
    font-size: 12px;
}
.control-btns{
    position: fixed;
    bottom: 0;
    right: 3rem;
    width: max-content;
    display: flex;
    flex-direction: row-reverse;
    gap: 0.2rem;
    transition: opacity 400ms ease-in-out;
    -webkit-transition: opacity 400ms ease-in-out;
    -moz-transition: opacity 400ms ease-in-out;
    -ms-transition: opacity 400ms ease-in-out;
    -o-transition: opacity 400ms ease-in-out;
    padding: 1rem 1.5rem 0;
    border: 2px solid #eeeeee;
    border-bottom: none;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.5px);
    border: 1px solid rgba(255, 255, 255, 0.26);
}
#nextBtn__hovered,
#homeBtn__hovered,
#profileBtn__hovered,
#preBtn__hovered{
    display: none;
    opacity: 0;
    cursor: pointer;
}
.nextBtn:hover > #next-btn, 
.homeBtn:hover > #home-btn,
.profileBtn:hover > #profile-btn,
.preBtn:hover > #pre-btn{
    display: none;
    cursor: pointer;
}
.nextBtn:hover > #nextBtn__hovered, 
.homeBtn:hover > #homeBtn__hovered,
.profileBtn:hover > #profileBtn__hovered,
.preBtn:hover > #preBtn__hovered{
    display: block;
    opacity: 1;
}



/* responsive */
@media only screen and (max-width: 1200px) {
    .container {
      max-width: 960px;
    }
}
  
@media only screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .search-btn {
        margin: 3rem 0;
    }
    .product-container {
        flex-direction: column;
        gap: 0;
    }
    .productImg {
        width: 100%;
    }
    .productTitle {
        margin: 1.5rem 0;
    }
    .signature {
        margin-top: 0;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        max-width: 540px;
    }
}

@media only screen and (max-width: 576px) {
    .container {
        max-width: 390px;
    }
}

@media only screen and (max-width: 380px) {
    .container {
        max-width: 100%;
    }
}